@font-face {
    font-family: 'lobster_tworegular';
    src: url('/assets/lobstertwo-regular-webfont.eot');
    src: url('/assets/lobstertwo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/lobstertwo-regular-webfont.woff2') format('woff2'),
         url('/assets/lobstertwo-regular-webfont.woff') format('woff'),
         url('/assets/lobstertwo-regular-webfont.ttf') format('truetype'),
         url('/assets/lobstertwo-regular-webfont.svg#lobster_tworegular') format('svg');
    font-weight: normal;
    font-style: normal;
}